#navbar {
    width: 300px;
    border-right: 1px solid #dedede;
    background-color: #001529;
    height: 115vh;
}

.logo-box {
    display: flex;
    padding-top: 10px;
    align-items: center;
    height: 150px;
    width: 100%;
    cursor: pointer;
    /* border: solid #ccc 1px; */
}

.logo-box .sidebar {
    margin-left: 26px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    /* background-image: url(../../assets/img/toggle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

.logo-box .logo {
    width: 200px;
    height:150px;
    flex-shrink: 0;
    background-image: url("https://www.dropbox.com/s/5l351xmohotdjj6/1624163183514.jpg?raw=1");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;

    
}

.navbar-box {
    margin-top: 7px;
}

.navbar-box .navbar-item {
    display: flex;
    align-items: center;
    height: 42px;
    padding-left: 20px;
}

.navbar-box .navbar-item:hover {
    background-color: #1890FF;
    transition: ease 1s;
    padding: 10px 30px;
    cursor: pointer;
}

.navbar-item .navbar-icon {
    margin-left: 16px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-item .navbar-text {
   padding-left: 5px;
    color: #FAFAFA;
    font-size: 15px;
}

a.navbar-item:hover {
    cursor: pointer;
}

a.navbar-item:active {
    background-color: aquamarine;
}