input[type] {
    height: 40px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50px;
    outline: none;
    box-sizing: border-box;
}

input[type]:hover {
    border-color: #019160;
}

input[type=text].input-search {
    background-image: url('../../assets/icon/search.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
    background-size: 20px;
    padding-left: 40px;
    font-size: 12px;
}


input[type=text].dialog-input {
    height: 32px;
    width: 254px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    color: #000000;
    
}

input[type=datetime-local].dialog-input {
    height: 32px;
    width: 300px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    color: #000000;
    outline: none;
    width: 92% !important;
    /* padding:0 6px; */
}
input[type=checkbox] {
    width: 16px;
    height: 16px;
    border: none;
    outline: none;
}
.dialog-input input[type=radio]{
    outline: none;
    margin-left: 10px;
    width: 18px;
    height: 18px;
} 


input[type="file"] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}